@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Shadows+Into+Light&display=swap');

body {
  font-size: 18px;
  line-height: 1.5;
  max-width: 90%;
  margin: 15px auto;
}
  
header {
  background-color: rgb(111, 111, 184);
  text-align: center;
  color: white;
  font-size: 1em;
  font-display: auto;
  padding: 5px;
  border-radius: 15px;
  margin: 10px;

}
nav{
margin: 30px;
border-bottom-style: solid;


}

footer {
  background-color: rgb(111, 111, 184);
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}



img {
  float: right;
  margin: 10px;
  
}
