@media only screen and (min-width:1028px) {

  header, footer, nav, main {max-width: 75rem; margin: auto;}
/* or just main..., or  nav, main... or  etc */
  
nav ul {padding: 1%;}
nav li {width:auto;}
nav a {padding: .5rem 1rem;}

main {width: 31%;}

} /* end of media query*/