* { -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; box-sizing: border-box; 
}
body {
  font-size: 18px;
  line-height: 1.5;
  max-width: 90%;
  margin: 15px auto;
}

header {
  background-color: gray;
  text-align: center;
  color: whitesmoke;
  font-size: 1em;
  padding: 2px;
  border-color: black;
  border-width: 10px;
  border-radius: 5px;
  margin: 10px;

}

h1
{font-size: 3em;}
h1, h2, h3, p {
  font-family: 'Shadows Into Light', 'Lido';
  text-align: center;
}

main {
  align-content: center;
}

section {
  float: left;
  display: block;
  background-color: light-grey;
  border: 3px;
  padding: 5px;
  margin: 5px;
}

#sec1 {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-flow:wrap;
  display:inline-block;
  content:"";
}

#sec2 {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-flow:wrap;
  display:inline-block;
  content:"";
}
#sec3 {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-flow:wrap;
  display:inline-block;
  content:"";
}

footer {
  background-color: grey;
  text-align: center;
  color: white;
  padding: 2px;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  margin: 5px;
  clear: both;

}



img {
  margin: 10px;
  width: 90%;