* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  color: whitesmoke;
  line-height: 1.5;
  max-width: 90%;
  padding: 4px;
  margin: 15px auto;
}

a {
  color: black
}

header {
  background-color: gray;
  text-align: center;
  color: whitesmoke;
  font-size: 1em;
  padding: 2px;
  border-color: black;
  border-width: 10px;
  border-radius: 5px;
  margin: 10px;

}

h1 {
  font-size: 3.5em;
  font-family: 'Shadows Into Light', 'Lido';
}

h2 {
  font-size: 3em;
  font-family: 'Shadows Into Light', 'Lido';
  text-align: center;

}

h3,
p {
  font-family: 'BenchNine', sans-serif;
  font-family: 'Shanti', sans-serif;
  text-align: center;
}

a {
  color: black
}


main {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1em;
  border: 3px;
  padding: 1px;
  border-radius: 5px;
  margin: 10px;


}

#sec1 {
  /* float: left; */
  background-color: grey;
  padding: 0  8px;
  border-radius: 5px;
  margin-bottom: 16px;
  content: "";
  justify-content: center;
}

#sec2 {
  margin-bottom: 16px;
  padding: 0 8px;
  border-radius: 5px;
  background-color: grey;
  content: "";
}

#sec3 {
  /* float: right; */
  margin-bottom: 16px;
  padding: 0 8px;
  border-radius: 5px;
  background-color: grey;
  content: "";
}

footer {
  font-family: 'Shadows Into Light', 'Lido';
  background-color: gray;
  text-align: center;
  color: whitesmoke;
  padding: 5px;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  margin: 5px;
  clear: both;

}



img {
  
  margin: 20px;
  width: 90%;

}